/* Responsive breakpoints based on aspect ratios */

/* Mobile phones landscape only */
@media (max-height: 500px) and (orientation: landscape) {
  .main-container {
    padding: 5px;
  }
  
  .box3 {
    width: 60dvw;
  }
  .logo1, .title, .logo2{
    min-height: 35px;
  }
  .title {
    height: 30px;
  }
}



/* Portrait orientation */
@media (max-aspect-ratio: 1/1) {
   
}

/* Tablets in portrait - use desktop title */
@media (max-aspect-ratio: 1/1) and (min-width: 768px) {
  .title {
    display: block;
  }
  
  .title-mobile {
    display: none;
  }

}

/* Tablets portrait */
@media (min-width: 768px) and (orientation: portrait) {

}

/* Tablets in landscape - wider box3 */
@media (min-width: 940px) and (max-width: 1024px) and (orientation: landscape) {
  .cards-container {
    aspect-ratio: 1.8 / 1;
    height: auto;
    max-height: 65dvh;
  }
}

/* Desktop landscape - game to bottom */
@media (min-width: 1400px) and (orientation: landscape) {
  .logo1, .logo2, .title {
    min-height: 8dvh;
  }
  
  .game {
    margin-top: auto;
  }
  
  .cards-container {
    aspect-ratio: 1.8 / 1;
    height: auto;
    max-height: 65dvh;
  }
}